* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #323232;
    font-family: sans-serif;
}

.calc-body {
    display: flex;
    margin: auto;
    background-color: #666175;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: #000000 0px 5px 15px;
    top: 50%;
    width: 400px;
    height: 620px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.display {
    display: flex;
    justify-content: right;
    align-items:flex-end;
    height: 95px;
    width: 360px;
    border-radius: 5px;
    margin: 5px;
    padding-right: 10px;
    background-color: #352F44;
    color: azure;
    font-size: 75px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 0px solid transparent;
    background-color: #B9B4C7;
    margin: 4px;
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 12px;
    color: azure;
    font-size: 40px;
}

.large-button {
    display: flex;
    border: 0px solid transparent;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #B9B4C7;
    margin: 4px;
    width: 164px;
    height: 80px;
    border-radius: 12px;
    color: azure;
    font-size: 40px;
}

.button:hover {
    background-color: #a39eaf;
}

.button:active {
    background-color: #8c8896
}

.large-button:hover {
    background-color: #a39eaf;
}

.large-button:active {
    background-color: #8c8896
}